.navbar { /*nav bar white color*/
    background-color: #FFFFFF;
}
.navbar-brand{ /*logo display */
    display: flex;
    justify-content: baseline;

}
#image-logo1{ /*heart logo image */
    width:60px;
    height:50px;
    background: white;
    -webkit-animation: super-rainbow 15s infinite alternate linear; 
    -moz-animation: super-rainbow 15s infinite alternate linear; 
}
@-webkit-keyframes super-rainbow { /*change color animation and zoom animation for heart image  */
    0% { opacity: 0; -webkit-transform: scale(0.5); }
    10% { opacity: 1; -webkit-transform: scale(1); }
    20%   { background: rgb(57, 136, 182); } 
    30%  { background: orange; }
    40%  { background: yellow; }
    60%  { background: green; }
    80%  { background: blue; }
    100% { background: violet; }
}

@-moz-keyframes super-rainbow {
    0% { opacity: 0; -webkit-transform: scale(0.5); }
    10% { opacity: 1; -webkit-transform: scale(1); }
    20%   { background: rgb(139, 83, 211); } 
    30%  { background: orange; }
    40%  { background: yellow; }
    60%  { background: green; }
    80%  { background: blue; }
    100% { background: violet; }
}
#image-logo2 {/*letters logo image*/
    width:90px;
    height:50px;
    -webkit-animation: super-rainbow2 15s infinite alternate linear; 
    -moz-animation: super-rainbow2 15s infinite alternate linear; 
}
@-webkit-keyframes super-rainbow2 { /*change color animation and zoom animation for letters logo image  */
    20%   { background: rgb(57, 136, 182); } 
    30%  { background: orange; }
    40%  { background: yellow; }
    60%  { background: green; }
    80%  { background: blue; }
    100% { background: violet; }
}

@-moz-keyframes super-rainbow2 {
   
    20%   { background: rgb(139, 83, 211); } 
    30%  { background: orange; }
    40%  { background: yellow; }
    60%  { background: green; }
    80%  { background: blue; }
    100% { background: violet; }
}
.divider{ /* empty div */
    width:1px;
    height:auto;
    display:inline-block;
}
.search-container button { /*search button custimazation*/
    
    float: right;
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
#searchfld{  /*search field custimazation*/
    padding: 6px;
   
    font-size: 17px;
    border: none;
}
.search-container button:hover {
    background: #ccc;
  }
  /**main started**/
  main{
      padding-top: 5%;
      background-color: #26a7e241;
  }
#photos{
    padding-top: 2%;
}
 .load-btn{
    text-align: center;
    padding-bottom: 2%;
}
.boxmore1,.boxmore2 {
  display: none;
  }

  .grid-container-one{
    display: flex;
    align-items:center;
    justify-content: space-around;
    padding: 2%;  
}
.grid-container-one a{
    color: black;
    text-decoration: none;
}
  .info{ /*recipes description custmization*/
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    align-items: baseline;
    padding: 2%;
  }
.imgradious{
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
}
.grid-box:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.grid-box{ /*grid box */
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #FFFFFF;
   
}
.fa-heart{ /*like icon custmization*/
    color: rgb(212, 209, 209);
    }
/****used to filter the items into sweets, drinks and saltes**/
.itemscategories{
    padding-top: 40px;
   display: flex;
   justify-content: center;
   
}
.itemscategoriesbtn{
   margin-left: 0.5%;
    border-radius: 2px;
    border: 1px solid #14c2d9d0;
    background-color: rgba(255, 255, 255, 0.295);
}
.itemscategoriesbtn:hover{
    opacity: 0.5;
}
/************grid popups***/
.modal-body{
    display:flex;
    flex-direction: column
}
strong{
    color: #14d9b8a4;
}
/*footer*/
.page-footer{
    background-color: rgb(65, 65, 65);
    color: white;
}
/**loading animation***/
#preloader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: White;
    z-index: 999;

}
#preloadimgposition{
padding-top:  20%;;
padding-left: 45%;
}
/**return to top button**/
.top{
	position: fixed;
    bottom: 13px;
    right: 10px;
    background-color: rgba(70, 161, 221, 0.548);
    color:gray;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    width: 42px;
    height: 39px;
    display: none;
    text-align: center;
}
/***MEDIA QUERY***/
@media screen and (max-width: 1024px) {
.grid-container-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.grid-box{
    margin-bottom: 10px;  
}
}
